<!-- Footer -->
<footer id="footer">

    <div class="container">  
        <ul class="copyright">
            <li>&copy; Sarah Kirk 2020. All rights reserved.</li>
            <li><a href="https://twitter.com/kharsikar" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.instagram.com/kharsikar" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="http://linkedin.com/in/sarah-kirk-92203023" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>
    </div>
</footer>
