<!-- Footer -->
<footer id="footer">

    <div class="container">
<!--         <div class="row double">
              
            <div class="6u">
 <img src="/images/FullSizeRender.jpg">
                <a href="#" class="image fit" ><img src="images/#"></a>
<div class="row collapse-at-2">
                    <div class="6u">
                        <h3>Accumsan</h3>
                        <ul class="alt">
                            <li><a href="#">Nascetur nunc varius</a></li>
                            <li><a href="#">Vis faucibus sed tempor</a></li>
                            <li><a href="#">Massa amet lobortis vel</a></li>
                            <li><a href="#">Nascetur nunc varius</a></li>
                        </ul>
                    </div>
                    <div class="6u">
                        <h3>Faucibus</h3>
                        <ul class="alt">
                            <li><a href="#">Nascetur nunc varius</a></li>
                            <li><a href="#">Vis faucibus sed tempor</a></li>
                            <li><a href="#">Massa amet lobortis vel</a></li>
                            <li><a href="#">Nascetur nunc varius</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="6u">
                <h2>Aliquam Interdum</h2>
                <p>Blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan justo aliquet.</p>
<ul class="icons">
                    <li><a href="https://twitter.com/kharsikar" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="http://instagram/kharsikar" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="http://linkedin.com/in/sarah-kirk-92203023" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
                </ul>
            </div>
        </div> -->
        <hr>
        <ul class="copyright">
            <li>&copy; Sarah Kirk 2017. All rights reserved.</li>
            <li><a href="https://twitter.com/kharsikar" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.instagram.com/kharsikar" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="http://linkedin.com/in/sarah-kirk-92203023" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
        </ul>
    </div>
</footer>
