<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h2>Sarah Kirk</h2>
                <p>I love beautiful things</p>
                <ul class="actions">
                    <li><a href="#content" class="button big special">Contact me</a></li>
                    <li><a href="#elements" class="button big alt">CV</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>
	
<!-- Instafeed	 -->
<script type="text/javascript">
  var userFeed = new Instafeed({
    get: 'Kharsikar',
    userId: '34654772',
    clientId: 'ad622d190afc4418baf6705ac40080cb',
    accessToken: '34654772.ad622d1.ec9c5e044e3f4683827daa4df736ada1',
    resolution: 'standard_resolution',
    template: '<a href="{{link}}" target="_blank" id="{{id}}"><img src="{{image}}" /><span>{{likes}}{{comments}}</span></a>',
    sortBy: 'most-recent',
    limit: 32,
    links: false
  });
  userFeed.run();
</script>
	

</html>
