<!DOCTYPE html>
<html>

  {% include /head.html %}

	<body id="top">

        {% include /header.html %}

        <!-- Banner -->
        <section class="intro" id="banner">
            <div class="inner">
                <h2>Hey, I am Sarah Kirk</h2>
                <p>I love to design beautiful things</p>
                <ul class="actions">
                    <li><a href="mailto:sarahek7@gmail.com" class="button big special">Contact me</a></li>
                    <li><a href="cv.html" class="button big alt">CV</a></li>
                </ul>
            </div>
        </section>
        {{ content }}
        {% include /footer.html %}

    </body>	
	

</html>
